<form action='/bookmark/new' method="post">
  <label for='url'>
    add new bookmark
    <input type="text" name="url">
  </label>
  <input type="submit" value="Submit">
</form>

<%= @add_bookmark %> 
